In [19]:
import pandas as pd
import numpy as np

In [7]:
obj=pd.Series([4,-2,3,4])
print(obj)

0    4
1   -2
2    3
3    4
dtype: int64

In [9]:
obj.values

array([ 4, -2,  3,  4], dtype=int64)

In [11]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
obj2=pd.Series([4,-2,3,4],index=['1','2','3','4'])
print(obj2)

1    4
2   -2
3    3
4    4
dtype: int64

In [13]:
obj2.index

Index(['1', '2', '3', '4'], dtype='object')

In [14]:
obj2['2']

-2

In [15]:
obj2[['2','3']]

2   -2
3    3
dtype: int64

In [16]:
obj2[obj2>0]

1    4
3    3
4    4
dtype: int64

In [17]:
obj2*2

1    8
2   -4
3    6
4    8
dtype: int64

In [20]:
np.exp(obj2)

1    54.598150
2     0.135335
3    20.085537
4    54.598150
dtype: float64

In [21]:
'2'in obj2  ###Series可以看成是一个定长的有序字典，因为它是索引值到数据值的一个映射。

True

In [22]:
'b' in obj2

False

In [24]:
##字典格式创造Series
dt={'a':100,'b':200,'c':300,'d':400}
print(dt)
data=pd.Series(dt)
print(data)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
a    100
b    200
c    300
d    400
dtype: int64

In [26]:
#按照索引进行排序，如果索引相同，数值会被找出来并放在相应的位置上
name=['e','f','a','c','b']  
data_=pd.Series(data,index=name)
print(data_)

e      NaN
f      NaN
a    100.0
c    300.0
b    200.0
dtype: float64

In [28]:
##pandas中的isnull和notnull函数可以用来检测缺失数据
pd.isnull(data_)
pd.notnull(data_)
#Series中isnull也可以被用来检测缺失数据
#Series.isnull()

e    False
f    False
a     True
c     True
b     True
dtype: bool

In [30]:
##Series可以根据运算的索引标签自动对齐数据
print(data)
print(data_)
print(data+data_)

a    100
b    200
c    300
d    400
dtype: int64
e      NaN
f      NaN
a    100.0
c    300.0
b    200.0
dtype: float64
a    200.0
b    400.0
c    600.0
d      NaN
e      NaN
f      NaN
dtype: float64

In [33]:
data_.name='population'
data_.index.name='order'
data_

order
e      NaN
f      NaN
a    100.0
c    300.0
b    200.0
Name: population, dtype: float64

In [34]:
##Series直接进行index的修改
data_.index=['1','2','3','4','5']
data_

1      NaN
2      NaN
3    100.0
4    300.0
5    200.0
Name: population, dtype: float64

In [40]:
##DataFrame
#对于字典格式数据转为DF,另外注意columns和index名字变化时的语句
#如果制定了列序列，则dataframe的列会按照指定顺序进行排列，如果传入的列在数据中找不到，就会在结果中产生缺失值
data0={'provinces':['Sichuan','Shandong','Beijing','Shenyang'],'population':[10000,12000,13000,14000],
      'gdp':[23400,32455,35466,23756]}
print(data0)
data1=pd.DataFrame(data0,index=['1','2','3','4'])
print(data1)
print(data1.head(2))

{'provinces': ['Sichuan', 'Shandong', 'Beijing', 'Shenyang'], 'population': [10000, 12000, 13000, 14000], 'gdp': [23400, 32455, 35466, 23756]}
  provinces  population    gdp
1   Sichuan       10000  23400
2  Shandong       12000  32455
3   Beijing       13000  35466
4  Shenyang       14000  23756
  provinces  population    gdp
1   Sichuan       10000  23400
2  Shandong       12000  32455

In [42]:
data1.columns

Index(['provinces', 'population', 'gdp'], dtype='object')

In [52]:
##dataframe取特定的列
print(data1['provinces'])
print(data1.provinces)

1     Sichuan
2    Shandong
3     Beijing
4    Shenyang
Name: provinces, dtype: object
1     Sichuan
2    Shandong
3     Beijing
4    Shenyang
Name: provinces, dtype: object

In [50]:
##dataframe取特定的行
data1[:1]
data1[1:2]

  provinces  population    gdp
2  Shandong       12000  32455

In [70]:
##DataFrame的行也可以通过位置或名称的方式进行获取(loc,iloc)
#loc是行标签索引行数据，iloc是行号索引行数据
print(data1.loc['2'])
print(data1.iloc[0:2])
#添加新列
data1['density']=16
data1['noname']=np.arange(4.)
print(data1)
##精确匹配。将列表或数组赋值给某个烈时，其长度必须和DataFrame的长度相匹配。
val=pd.Series([-1.2,-1.3],index=['2','3'])
data1['noname']=val
print(data1)
##删除某列，删除含空值的行
del data1['density']
print(data1)
data=data1.dropna(subset=['noname'])
print(data)

provinces     Shandong
population       12000
gdp              32455
noname            -1.2
Name: 2, dtype: object
  provinces  population    gdp  noname
1   Sichuan       10000  23400     NaN
2  Shandong       12000  32455    -1.2
  provinces  population    gdp  noname  density
1   Sichuan       10000  23400     0.0       16
2  Shandong       12000  32455     1.0       16
3   Beijing       13000  35466     2.0       16
4  Shenyang       14000  23756     3.0       16
  provinces  population    gdp  noname  density
1   Sichuan       10000  23400     NaN       16
2  Shandong       12000  32455    -1.2       16
3   Beijing       13000  35466    -1.3       16
4  Shenyang       14000  23756     NaN       16
  provinces  population    gdp  noname
1   Sichuan       10000  23400     NaN
2  Shandong       12000  32455    -1.2
3   Beijing       13000  35466    -1.3
4  Shenyang       14000  23756     NaN
  provinces  population    gdp  noname
2  Shandong       12000  32455    -1.2
3   Beijing       13000  35466    -1.3

In [71]:
#DataFrame转置
data1.T

                  1         2        3         4
provinces   Sichuan  Shandong  Beijing  Shenyang
population    10000     12000    13000     14000
gdp           23400     32455    35466     23756
noname          NaN      -1.2     -1.3       NaN

In [72]:
data1.values

array([['Sichuan', 10000, 23400, nan],
       ['Shandong', 12000, 32455, -1.2],
       ['Beijing', 13000, 35466, -1.3],
       ['Shenyang', 14000, 23756, nan]], dtype=object)

In [73]:
##缺失值填补
data1.fillna(data1.mean())

  provinces  population    gdp  noname
1   Sichuan       10000  23400   -1.25
2  Shandong       12000  32455   -1.20
3   Beijing       13000  35466   -1.30
4  Shenyang       14000  23756   -1.25

In [75]:
dup_labels=pd.Index(['foo','foo','bar','bar'])
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

In [78]:
##reindex:根据新的索引进行重排，如果某个索引值当前不存在，就引入缺失值
data=pd.Series([2,4,2,3],index=['c','d','f','a'])
data1=data.reindex(['a','c','d','f'])
print(data)
print(data1)

c    2
d    4
f    2
a    3
dtype: int64
a    3
c    2
d    4
f    2
dtype: int64

In [82]:
##对于时间序列这种的有序序列，重新索引时可能需要做一些插值处理。method选型即可达到此目的，例如：使用ffill可以实现前向值填充。
data=pd.Series(['blue','yellow','red'],index=[0,2,4])
print(data)
data0=data.reindex(range(6),method='ffill')
print(data0)

0      blue
2    yellow
4       red
dtype: object
0      blue
1      blue
2    yellow
3    yellow
4       red
5       red
dtype: object

In [105]:
##丢弃指定轴上的项
obj=pd.DataFrame(np.arange(15).reshape((5,3)),index=['a','b','c','d','e'],columns=['1','2','3'])
obj
new_obj=obj.drop('c',axis=0)###删除行
new_obj=obj.drop('1',axis=1)###删除列
new_obj

    2   3
a   1   2
b   4   5
c   7   8
d  10  11
e  13  14

In [108]:
##过滤和筛选
data0={'provinces':['Sichuan','Shandong','Beijing','Shenyang'],'population':[10000,12000,13000,14000],
      'gdp':[23400,32455,35466,23756]}
data1=pd.DataFrame(data0,index=['1','2','3','4'])
print(data1)
print(data1[data1['population']>12000])
print(data1['population'])

  provinces  population    gdp
1   Sichuan       10000  23400
2  Shandong       12000  32455
3   Beijing       13000  35466
4  Shenyang       14000  23756
  provinces  population    gdp
3   Beijing       13000  35466
4  Shenyang       14000  23756
1    10000
2    12000
3    13000
4    14000
Name: population, dtype: int64

In [112]:
###用loc和iloc选取（见前面）
data=data1.iloc[[1,2],[1,0]]
data

   population provinces
2       12000  Shandong
3       13000   Beijing

In [113]:
##算术运算和数据对齐
#如果DataFrame对象相加，没有共用的列或行标签，结果都会为控
df1=pd.DataFrame({'A':[1,2]})
df2=pd.DataFrame({'B':[3,4]})
df1+df2

    A   B
0 NaN NaN
1 NaN NaN

In [119]:
###在算术方法中填充值
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2=pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
df2.loc[1,'b']=np.nan
df1+df2
df1.add(df2,fill_value=0)  ####使用df1的add方法，传入df2以及一个fill_value参数，在补充的地儿不会显示nan
1/df1
df1.rdiv(1)  ###div,rdiv用于除法的方法

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [123]:
####函数应用和映射#####
data=pd.DataFrame(np.random.randn(4,3),columns=list('bcd'),index=['Utah','ohio','Texas','DS'])
print(data)
print(abs(data))
f=lambda x: x.max()-x.min()  ##函数
data.apply(f)

              b         c         d
Utah  -0.050112 -0.261201  0.079586
ohio  -0.367101 -0.434821 -0.710195
Texas  1.841261 -0.551973  0.793394
DS     0.066988 -0.309952  0.237418
              b         c         d
Utah   0.050112  0.261201  0.079586
ohio   0.367101  0.434821  0.710195
Texas  1.841261  0.551973  0.793394
DS     0.066988  0.309952  0.237418

b    2.208362
c    0.290772
d    1.503589
dtype: float64

In [125]:
###排序和排名
obj=pd.Series(range(4),index=list('bcda'))
obj.sort_index()##axis=0 行; axis=1 列; ascending =False 降序排列.
obj.sort_values() ###by='列名'可实现对特定行进行排序; by=['','']可实现对多列进行同时排序

b    0
c    1
d    2
a    3
dtype: int64

In [134]:
print(data)
print(data.sum())
print(data.sum(axis=1))
print(data.mean())
print(data.idxmax(axis=1))
print(data.describe())

              b         c         d
Utah  -0.050112 -0.261201  0.079586
ohio  -0.367101 -0.434821 -0.710195
Texas  1.841261 -0.551973  0.793394
DS     0.066988 -0.309952  0.237418
b    1.491037
c   -1.557947
d    0.400203
dtype: float64
Utah    -0.231727
ohio    -1.512117
Texas    2.082682
DS      -0.005546
dtype: float64
b    0.372759
c   -0.389487
d    0.100051
dtype: float64
Utah     d
ohio     b
Texas    b
DS       d
dtype: object
              b         c         d
count  4.000000  4.000000  4.000000
mean   0.372759 -0.389487  0.100051
std    0.996027  0.130690  0.620890
min   -0.367101 -0.551973 -0.710195
25%   -0.129359 -0.464109 -0.117859
50%    0.008438 -0.372386  0.158502
75%    0.510556 -0.297764  0.376412
max    1.841261 -0.261201  0.793394

In [135]:
###相关系数与协方差
data.corr() #***相关系数
data.var() #***协方差

b    0.992069
c    0.017080
d    0.385504
dtype: float64

In [140]:
####唯一值
data2=pd.Series(['2','2','3','1','2'])
unique=data2.unique()
print(unique)
print(data2.value_counts())   ###计数

['2' '3' '1']
2    3
1    1
3    1
dtype: int64

In [143]:
###综合计数

data=pd.DataFrame({'Que1':[1,2,3,4],
                  'Que2':[2,4,1,6],
                  'Que3':[3,6,4,8]})
print(data)
result=data.apply(pd.value_counts).fillna(0)
print(result)

   Que1  Que2  Que3
0     1     2     3
1     2     4     6
2     3     1     4
3     4     6     8
   Que1  Que2  Que3
1   1.0   1.0   0.0
2   1.0   1.0   0.0
3   1.0   0.0   1.0
4   1.0   1.0   1.0
6   0.0   1.0   1.0
8   0.0   0.0   1.0