In [3]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv('E:/LEARN/Summer-Holiday/data/temp.csv',sep=',')
print(df)

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [4]:
df=pd.read_csv('E:/LEARN/Summer-Holiday/data/temp.csv',na_values=['NULL'])
print(df)

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [6]:
df=pd.read_csv('E:/LEARN/Summer-Holiday/data/temp.csv',nrows=1) ##读文件
#df=to.read_csv('E:/LEARN/Summer-Holiday/data/temp.csv',sep=',')  ##写文件
print(df)

  a,b,c,d,message
0   1,2,3,4,hello

In [7]:
##读取jason\web数据 目前没有这个需求，先不学该部分了

In [11]:
###读取excel表
df=pd.read_excel('E:/LEARN/Summer-Holiday/data/temp1.xlsx','Sheet1')
print(df)

   1  a  w
0  2  b  e
1  3  c  r
2  4  f  g
3  5  r  h
4  6  d  y

In [7]:
import csv
f=open('E:/LEARN/Summer-Holiday/data/temp.csv')
reader=csv.reader(f)
for line in reader:
    print(line)

['a,b,c,d,message']
['1,2,3,4,hello']
['5,6,7,8,world']
['9,10,11,12,foo']

In [8]:
### 读取文件进行特殊符号的分割###
##reader=csv.reader(f,delimiter='|')

In [9]:
##数据库的交互####
import sqlite3

In [15]:
query="""
CREATE TABLE test
(a VARCHAR(20),b VARCHAR(20),c REAL);"""
con = sqlite3.connect('mydata.sqlite')

In [19]:
con.execute(query)
con.commit()
data=[('atlanta','georgia',1.25,6),
     ('atlanta','georgia',1.25,3)]
stmt="INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)

OperationalError: table test already exists